section(class='header')
	div(class='container')
		h2(class='name') Gabriel Rojas-Westall
		p Computer Science
		p Northwestern University
		p(id='email') rojaswestall@u.northwestern.edu

			i(class="fa fa-github icon" aria-hidden="true")
			i(class="fa fa-linkedin-square icon" aria-hidden="true")
			i(class="fa fa-file-text icon" aria-hidden="true")
			i(class="fa fa-envelope icon" aria-hidden="true")