head

	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="description" content="Gabriel Rojas-Westall")

	title= title

	meta(name="viewport", content="width=device-width, initial-scale=1")

	
	script(async src="assets/lib/smooth-scroll.js")
	script(async src="https://use.fontawesome.com/93f8d6d0b2.js")
	link(rel='stylesheet', href='/stylesheets/style.css')
	link(href='https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet')