doctype html
html
	include head.pug
	body
		block content
		include header.pug
		include experience.pug
		include projects.pug

		script(
			src='/javascripts/typed.js')
		script.
			var options = {
			strings: ['Computer Science'],
			typeSpeed: 35,
			backSpeed: 40,
			backDelay: 1200,
			startDelay: 500,
			loop: false,
			smartBackspace: true,
			};
			var typed = new Typed('#typed', options);
