doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content
		script(
			src='/javascripts/typed.js')
		script.
			var options = {
			strings: ['Gabe Rojas-Westall', 'Northwestern University', 'Computer Science', 'Algorithmic Trading Club President'],
			typeSpeed: 35,
			backSpeed: 40,
			backDelay: 1200,
			startDelay: 500,
			loop: true,
			smartBackspace: true,
			};
			var typed = new Typed('#typed', options);
