/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}*/

.container {
	max-width: 860px;
	margin: 0 auto;
	padding: 20px;
}

body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	/*font-family: 'Inconsolata', monospace;*/
	padding: 0;
	margin: 0;
}

p {
	padding: 0;
	margin: 0;
	letter-spacing: .8px;
}

/*a {
  color: #00B7FF;
}*/

h2 {
	margin: 0px;
}

.curved-divider {
	fill: #ffffff;
	background-color: rgba(230,230,250,.4);;
}

.name {
	padding-top: 100px;
}

#email {

}

.header {
	background-color: rgba(230,230,250,.4);
}



.icon {
	font-size: 20pt;
}



