body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*font-family: 'Inconsolata', monospace;*/
}

p {
	padding: 0;
	margin: 0;
	letter-spacing: .8px;
}

a {
  color: #00B7FF;
}

.name {
	padding-top: 100px;
}

#email {

}

.header {
	background-color: rgb(244,195,195);
}

.icon {
	font-size: 20pt;
}
